* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: white;
    text-align: center;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero {
    margin-top: 100px;
    padding: 150px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.order-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: limegreen;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.about {
    background: white;
    color: black;
    padding: 50px;
    text-align: left;
}
    .stats {
        margin-top: 20px;
    }
    .stat-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }
    
    .stat-item img {
        width: 30px;
        height: 30px;
    }
    
    .stat-item strong {
        font-size: 18px;
        color: white;
    }
    
    .stat-item p {
        font-size: 14px;
        color: gray;
    }    
.contact {
    background: black;
    padding: 50px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}
